@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0a2d6c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-dark: #0a2d6c;
  --color-primary: #1873d3;
  --color-accent-yellow: #ffe28a;
  --color-accent-purple: #a8509b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
